@model WebShopAsp.net_MVC_.ViewModels.Login_ViewModel
@using WebShopAsp.net_MVC_.ViewModels

@{
    Layout = "_UserLayout";
}

 <form asp-controller="Admin" asp-action="GoToAddItem" method="post">
        <input class="btn btn-dark" type="submit" value="Create Item" />
        </div>
        </form>
