html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #264b82;

}


.body2 {

    background-size: cover;
    background-image: url(/css/BackgroundMain.JPG)
}

