@model WebShopAsp.net_MVC_.ViewModels.Login_ViewModel
@using WebShopAsp.net_MVC_.ViewModels


@{
    Layout = "_UserLayout";
}
<head>
    <style>
        html,
        body {
            height: 100%;
        }
        
        .modal-content{
            height: 500px;
            width: 700px;
        }

        .btn-primary {
            background-color: #6993d1;
            border-color: #5787cf;
        }

        .btn-info {
            background-color: #3895ff;
            border-color: #2085f7;
        }

        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #264b82;
            background-size: cover;
            background-image: url(https://preview.redd.it/rsfeq20h44151.jpg?width=1090&format=pjpg&auto=webp&s=c9ad4cb1c58ec3a622b09ef1c2aaf139cea97fce);
}
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

                .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
           
    </style>
    </head>
     <body class="text-center">

                     
                         
    <form asp-controller="User" asp-action="Register" method="post" class="form-signin">
          <img class="mb-4"  src="https://runescapetoday.com/wp-content/uploads/2022/02/LOGOweb.png"  alt="Runescape Money"  height="63" />
       <div class="form-group">

           <h6>Register Here <span class="badge badge-secondary"></span></h6>
         
           </div>
        @*<div style="padding-top: 7px" class="h3 mb-3 font-weight-normal">@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })</div>*@

        <div class="form-group">
            <div class="InputBackgroundBox">
                <input asp-for="Username" placeholder="Username" class="form-control text-center" required />
            </div>
            @*<span asp-validation-for="Username" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <div class="InputBackgroundBox">
                <input asp-for="Password" type="password" placeholder="Password" class="form-control text-center" required />
            </div>
            @*<span asp-validation-for="Password" class="text-danger"></span>*@
        </div>

                                <div class="form-signin">
                                    <input class="btn btn-dark" type="submit" value="Confirm Registration"/>
                                   
                                    <br /> 
                                   </form>
                                    <form asp-controller="Account" asp-action="GoToLogin" method="post">
                                       
                                       <input class="btn btn-dark" type="submit" value="Back to Login" /> 
                                       </form>
                                </div>
    
 </body>
