@model Review_ViewModel
@using WebShopAsp.net_MVC_.ViewModels
@{
    Layout = "_ItemPageLayout";
}

 
    <div class="text-center form-control mx-auto" style="width: 200px;">
    
        <a asp-controller="User" asp-action="Index" class="btn btn-dark stretched-link"> 
    <span asp-validation-for="Foutmelding"></span>
        </a>
    </div>