@model WebShopAsp.net_MVC_.ViewModels.Review_ViewModel
@using WebShopAsp.net_MVC_.ViewModels
@{
     Layout = "_ItemPageLayout";
}


<header class="bg-dark py-1">
            <form asp-controller="User" asp-action="GetAllUserItems" method="post">
        <input class="card-link" type="submit" value="Back" />
        
        </form> 
            <div class="container px-1 px-lg-2 my-2">
                <div class="text-center text-white">
                    <h1 class="display-2 fw-bolder">All your personal items</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Juicy items</p>
                </div>
            </div>
            <form asp-controller="Login" asp-action="LogOut" method="post" class="form-signin">
           <input class="btn btn-dark" type="submit" value="LogOut" />
          </form>
        </header>

        <form asp-controller="Reviews" asp-action="ReviewItem" method="post" class="form-signin">
       

 
       <div class="form-group">
           <div  class="InputBackgroundBox">
               <input asp-for="ItemID" placeholder="Item Name" type="hidden" class="form-control text-center" required />
           </div>
       
       </div>
       <div class="form-group">
           <div class="InputBackgroundBox">
           
                <input asp-for="Score" placeholder="Score"  min="0" max="10" value=""class="form-control text-center" required />
            <span asp-validation-for="@Model.Score" class= "text-danger"></span>
           </div>
       
       </div> 
        <div class="form-group">
           <div class="InputBackgroundBox">
                <input asp-for="Review" placeholder="Review" value="" class="form-control text-center" required />
                 <span asp-validation-for="@Model.Review" class= "text-danger"></span>
           </div>
         <input asp-for="Melding" placeholder="" value="@Model.Melding" class="form-control text-center" readonly/>
                 
       </div>

       <div class="form-signin">
           <input class="btn btn-dark" type="submit" value="Add review" />
             
           <br />
           </div>

       </form>

       
        