@model List<Review_ViewModel>
@using WebShopAsp.net_MVC_.ViewModels
@{
     Layout = "_ItemPageLayout";
}

 @foreach (Review_ViewModel review_ViewModel in Model) {
       //@Html.BeginForm("DeleteItem","Item") <div class="card" style="width: 18rem;">
  
  <div class="card-body2">
  <ul class="list-group list-group-flush">
      <li class="list-group-item">The userid that liked: @Html.DisplayFor(modelItem =>review_ViewModel.UserID)</li>
      <li class="list-group-item">Liked item : YES </li>
  </ul>
  </div>

      
    }
      </div>
      <div class="modal-footer">
             <form asp-controller="User" asp-action="Index" method="post">
        <input class="card-link" type="submit" value="Back to Item Shop" />
        
        </form>
      </div>
    </div>
  </div>
</div>


