@model WebShopAsp.net_MVC_.ViewModels.Item_ViewModel
@using WebShopAsp.net_MVC_.ViewModels

@{
    Layout = "_Layout";
}


<header class ="align-content-center">

</header>
 <form asp-controller="Admin" asp-action="Index" method="post">
        <input class="btn btn-dark" type="submit" value="Back" />
        </form>

<body>


<form asp-controller="Item" asp-action="AddItem" method="post" class="form-signin">



       <div class="form-group">
           <div  class="InputBackgroundBox">
               <input asp-for="ItemName" placeholder="Item Name" class="form-control text-center" required />
           </div>

       </div>
       <div class="form-group">
           <div class="InputBackgroundBox">
                <input asp-for="Price" placeholder="Price" value="Price"class="form-control text-center" required />
           </div>

       </div> 
        <div class="form-group">
           <div class="InputBackgroundBox">
                <input asp-for="Amount" placeholder="Amount" value="Amount" class="form-control text-center" required />
           </div>

       </div>

       <div class="form-signin">
           <input class="btn btn-dark" type="submit" value="Create Item" />
           <br />
           </div>

       </form>


           </body>

