@model List<Item_ViewModel>
@using WebShopAsp.net_MVC_.ViewModels

@{
    Layout = "_Layout";
}
<style>
    tbody{
        background-color: #264b82;
        color: white;
    }

     body{
        background-color: #264b82;
        color: white;
    }

    head{

    body{
        background-color: white;
    }


</style>


<header class ="align-content-center">

</header>
<form asp-controller="Admin" asp-action="GoToAdminMainPage" method="post">
        <input class="btn btn-dark" type="submit" value="Back" />

        </form>
<table class="table">
    <head>
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Price
        </th>
        <th>
            Amount
        </th>
    </tr>
    </head>
    <body>

        @foreach (Item_ViewModel item_ViewModel in Model)
        {
            //@Html.BeginForm("DeleteItem","Item") 
           <tr>
                <td>
                    @Html.DisplayFor(modelItem =>item_ViewModel.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item_ViewModel.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item_ViewModel.Amount)
                </td>
                 <td>
                  <form asp-controller="Item" asp-action="DeleteItem" method="post">
                      <input asp-for="@item_ViewModel.ItemID" type="hidden" id="ItemID" name="ItemID" />
                        <input class="btn btn-dark" type="submit" value="Delete" />

                      </form>
                </td>
            </tr>
        }

     </tr>
    </body>
</table>